@using SmartStore.Web.Framework;
@using SmartStore.Payone.Models;
@model PaymentInfoBankingBaseModel
@{
	Layout = "";
}

@Html.SmartLabelFor(model => model.EnterIban, false)
<div data-role="fieldcontain">
	<input type="radio" id="EnterIban_1" name="EnterIban" value="iban" @(Model.EnterIban == "iban" ? "checked=\"checked\"" : "") />
	<label for="EnterIban_1">@T("Common.Yes")</label>
	<input type="radio" id="EnterIban_2" name="EnterIban" value="no-iban" @(Model.EnterIban == "no-iban" ? "checked=\"checked\"" : "") />
	<label for="EnterIban_2">@T("Common.No")</label>
</div>
<div class="payone-no-iban">
	@Html.SmartLabelFor(model => model.BankAccount, false)
	@Html.TextBoxFor(model => model.BankAccount, new { autocomplete = "off" })
	@Html.SmartLabelFor(model => model.BankCode, false)
	@Html.TextBoxFor(model => model.BankCode, new { autocomplete = "off" })
	@Html.SmartLabelFor(model => model.BankCountry, false)
	@Html.DropDownListFor(model => model.BankCountry, Model.Countries, new { data_native_menu = "false" })
</div>
<div class="payone-iban">
	@Html.SmartLabelFor(model => model.Iban, false)
	@Html.TextBoxFor(model => model.Iban, new { autocomplete = "off" })
	@Html.SmartLabelFor(model => model.Bic, false)
	@Html.TextBoxFor(model => model.Bic, new { autocomplete = "off" })
</div>

@Html.Partial("BankingPaymentInfoScripting", Model)