@using SmartStore.Web.Framework;
@using SmartStore.Payone.Models;
@model PaymentInfoBankingBaseModel
@{
	Layout = "";
}

<div class="control-group">
	@Html.LabelFor(model => model.EnterIban, new { @class = "control-label" })
	<div class="controls form-inline">
		<label class="radio inline">
			<input type="radio" id="EnterIban_1" name="EnterIban" value="iban" @(Model.EnterIban == "iban" ? "checked=checked" : "") />
			@T("Common.Yes")
		</label>
		<label class="radio inline">
			<input type="radio" id="EnterIban_2" name="EnterIban" value="no-iban" @(Model.EnterIban == "no-iban" ? "checked=checked" : "") />
			@T("Common.No")
		</label>
	</div>
</div>

<div class="payone-no-iban">
	<div class="control-group">
		@Html.LabelFor(model => model.BankAccount, new { @class = "control-label required" })
		<div class="controls">
			@Html.TextBoxFor(model => model.BankAccount, new { autocomplete = "off" })
			@Html.ValidationMessageFor(model => model.BankAccount)
		</div>
	</div>
	<div class="control-group">
		@Html.LabelFor(model => model.BankCode, new { @class = "control-label required" })
		<div class="controls">
			@Html.TextBoxFor(model => model.BankCode, new { autocomplete = "off" })
			@Html.ValidationMessageFor(model => model.BankCode)
		</div>
	</div>
	<div class="control-group">
		@Html.LabelFor(model => model.BankCountry, new { @class = "control-label required" })
		<div class="controls">
			@Html.DropDownList("BankCountry", Model.Countries, new { style = "min-width: 220px;" })
			@Html.ValidationMessageFor(model => model.BankCountry)
		</div>
	</div>
</div>

<div class="payone-iban">
	<div class="control-group">
		@Html.LabelFor(model => model.Iban, new { @class = "control-label required" })
		<div class="controls">
			@Html.TextBoxFor(model => model.Iban, new { autocomplete = "off" })
			@Html.ValidationMessageFor(model => model.Iban)
		</div>
	</div>
	<div class="control-group">
		@Html.LabelFor(model => model.Bic, new { @class = "control-label required" })
		<div class="controls">
			@Html.TextBoxFor(model => model.Bic, new { autocomplete = "off" })
			@Html.ValidationMessageFor(model => model.Bic)
		</div>
	</div>
</div>

@Html.Partial("BankingPaymentInfoScripting", Model)