@using SmartStore.Web.Models.Checkout;
@using SmartStore.Viveum;
@using SmartStore.Viveum.Models;
@model WidgetModel
@{
    Layout = "~/Views/Shared/_Root.cshtml";

    Html.AddTitleParts(T("PageTitle.Checkout").Text);
}
<div class="page">
    <div class="page-title">
        <h1>@T("Checkout.ThankYou")</h1>
    </div>
	<div>
		@Html.Raw(T("Plugins.SmartStore.Viveum.PleasePayNow"))
	</div>

    <div class="page-body">
		<div class="viveum-widget-container">
			@if (!Model.CheckoutId.HasValue() || Model.ErrorMessages.Any())
			{
				<div class="message-error">
					<ul>
						@if (!Model.CheckoutId.HasValue())
						{
							<li>@T("Plugins.SmartStore.Viveum.MethodUnavailable")</li>
						}
						@foreach (var message in Model.ErrorMessages)
						{
							<li>@message</li>
						}
					</ul>
				</div>
			}

			@if (Model.CheckoutId.HasValue())
			{
				<iframe src="@Url.Action("WidgetFrame", Model.ControllerName, new { area = ViveumPlugin.SystemName, id = Model.OrderId, checkoutId = Model.CheckoutId })"
					id="ViveumWidgetFrame" frameborder="0" scrolling="auto" style="width: 100%; min-height: @(Model.WidgetFrameMinHeight)px;"></iframe>
			}
		</div>
    </div>
</div>
