@using SmartStore.Web.Models.Checkout;
@using SmartStore.Viveum;
@using SmartStore.Viveum.Models;
@model WidgetModel
@{
	Layout = "~/Views/Shared/_Checkout.cshtml";

	Html.AddTitleParts(T("PageTitle.Checkout").Text);
}
@section orderProgress
{
	@Html.Action("CheckoutProgress", "Checkout", new { step = CheckoutProgressStep.Complete, area = "" })
}

<div class="page">
	<div class="page-title">
		<h1 class="text-success">@T("Checkout.OrderHasBeenReceived")</h1>
	</div>

	<div class="alert alert-info">
		@Html.Raw(T("Plugins.SmartStore.Viveum.PleasePayNow"))
	</div>

	<div class="page-body">
		<div class="viveum-widget-container">
			@if (!Model.CheckoutId.HasValue() || Model.ErrorMessages.Any())
			{
				<div class="alert alert-error">
					@if (!Model.CheckoutId.HasValue())
					{
						<div>@T("Plugins.SmartStore.Viveum.MethodUnavailable")</div>
					}
					@foreach (var message in Model.ErrorMessages)
					{
						<div>@message</div>
					}
				</div>
			}

			@if (Model.CheckoutId.HasValue())
			{
				@* iframe necessary cause widget form would create invalid HTML here and the widget is not rendered correctly *@
				@* a checkout id cannot be used again to render the widget when the user already clicked "pay now" *@
				<iframe src="@Url.Action("WidgetFrame", Model.ControllerName, new { area = ViveumPlugin.SystemName, id = Model.OrderId, checkoutId = Model.CheckoutId })"
						id="ViveumWidgetFrame" frameborder="0" scrolling="auto" style="width: 100%; min-height: @(Model.WidgetFrameMinHeight)px;"></iframe>
			}
		</div>
	</div>
</div>