@using SmartStore.Web.Framework.UI;
@using SmartStore;
@{
    Layout = "";
}

<div class="media">
	<span class="pull-left">
		<img class="media-object img-responsive" src="@Url.Content("~/Plugins/SmartStore.Sofortueberweisung/Content/images/logo200x75.png")" alt="SOFORT Überweisung" />
	</span>
	<div class="media-body">
		@T("Plugins.Payments.Sofortueberweisung.RedirectionTip")

		@if ((ViewData["FurtherInfoUrl"] as string).HasValue())
		{
			<a href="@ViewData["FurtherInfoUrl"]" target="_blank" rel="nofollow">@T("Plugins.Payments.Sofortueberweisung.FurtherInfos")</a>
		}
		@if ((ViewData["CustomerProtectionInfoUrl"] as string).HasValue())
		{
			<div class="customer-protection-info" style="margin-top: 12px">
				<a href="@ViewData["CustomerProtectionInfoUrl"]" target="_blank" rel="nofollow">
					@T("Plugins.Payments.Sofortueberweisung.CustomerProtectionInfo")
				</a>
			</div>
		}
	</div>
</div>
