@using SmartStore.OpenTrans;
@{
    Layout = "";
}
<div class="btn-group">
	<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
		@T("Plugins.Exports.OpenTrans.OpenTransExport")
		<span class="fa fa-caret-down"></span>
	</a>
	<ul class="dropdown-menu pull-right">
		<li>
			<a href="javascript:void(0)" class="opentrans-export-button"
			   data-url="@Url.Action("Export", "OpenTrans", new { exportAll = true, method = "List", area = Plugin.SystemName })">
				<i class="fa fa-fw fa-code"></i>
				@T("Plugins.Exports.OpenTrans.ExportAll")
			</a>
		</li>
		<li>
			<a href="javascript:void(0)" class="opentrans-export-button"
			   data-url="@Url.Action("Export", "OpenTrans", new { exportAll = false, method = "List", area = Plugin.SystemName })">
				<i class="fa fa-fw fa-code"></i>
				@T("Plugins.Exports.OpenTrans.ExportSelected")
			</a>
		</li>
	</ul>
	@Html.Partial("ExportButtonsGeneral")
</div>