@using SmartStore.PdfExport;
@using SmartStore.PdfExport.Providers;
@{
    Layout = "";
}
<div class="btn-group">
	<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
		@T("Plugins.Data.PdfExport.PdfExport")
		<span class="fa fa-caret-down"></span>
	</a>
	<ul class="dropdown-menu pull-right">
		<li>
			<a href="javascript:void(0)" class="export-pdf-button"
			   data-url="@Url.Action("Export", "PdfExport", new { systemName = ProductPdfExportProvider.SystemName, exportAll = false, area = PdfExportPlugin.SystemName })">
				<i class="fa fa-fw fa-file-pdf-o"></i>
				@T("Plugins.Data.PdfExport.ExportToPdfSelected")
			</a>
		</li>
		<li>
			<a href="javascript:void(0)" class="export-pdf-button"
			   data-url="@Url.Action("Export", "PdfExport", new { systemName = ProductPdfExportProvider.SystemName, exportAll = true, area = PdfExportPlugin.SystemName })">
				<i class="fa fa-fw fa-file-pdf-o"></i>
				@T("Plugins.Data.PdfExport.ExportToPdfAll")
			</a>
		</li>
	</ul>
	@Html.Partial("ExportButtonsGeneral")
</div>