@using SmartStore.ElmarShopinfo.Models;
@model ProfileConfigurationModel
@{
    Layout = null;
	string unspecified = T("Common.Unspecified");
}

<table id="ElmarShopInfoTable" class="adminContent">
	<tr>
		<td class="adminTitle">
			@Html.SmartLabelFor(m => m.Warranty)
		</td>
		<td class="adminData">
			@Html.EditorFor(m => m.Warranty)
			@Html.ValidationMessageFor(m => m.Warranty)
		</td>
	</tr>
	<tr>
		<td class="adminTitle">
			@Html.SmartLabelFor(m => m.Availability)
		</td>
		<td class="adminData">
			@Html.EditorFor(m => m.Availability)
			@Html.ValidationMessageFor(m => m.Availability)
		</td>
	</tr>
	<tr>
		<td class="adminTitle">
			@Html.SmartLabelFor(m => m.ExportDeliveryTimeAsAvailability)
		</td>
		<td class="adminData">
			@Html.EditorFor(m => m.ExportDeliveryTimeAsAvailability)
			@Html.ValidationMessageFor(m => m.ExportDeliveryTimeAsAvailability)
		</td>
	</tr>
	<tr>
		<td class="adminTitle">
			@Html.SmartLabelFor(m => m.ExportEanAsIsbn)
		</td>
		<td class="adminData">
			@Html.EditorFor(m => m.ExportEanAsIsbn)
			@Html.ValidationMessageFor(m => m.ExportEanAsIsbn)
		</td>
	</tr>
	<tr>
		<td colspan="2">&nbsp;</td>
	</tr>
	<tr>
		<td colspan="2">
			<div class="admin-config-group">
				<div class="title">
					@Model.ConfigGroups.SafeGet(3)
				</div>
			</div>
		</td>
	</tr>
	<tr>
		<td class="adminTitle">
			@Html.SmartLabelFor(m => m.CreateXmlShopFile)
		</td>
		<td class="adminData">
			@Html.EditorFor(m => m.CreateXmlShopFile)
			@Html.ValidationMessageFor(m => m.CreateXmlShopFile)
		</td>
	</tr>
	<tr class="elmar-xml-shopfile">
		<td class="adminTitle">
			@Html.SmartLabelFor(m => m.CategoryMapping)
		</td>
		<td class="adminData">
			@Html.DropDownListFor(m => m.CategoryMapping, Model.ElmarCategories)
			@Html.ValidationMessageFor(m => m.CategoryMapping)
		</td>
	</tr>
	<tr class="elmar-xml-shopfile">
		<td class="adminTitle">
			@Html.SmartLabelFor(m => m.ForwardExpensesFlatRate)
		</td>
		<td class="adminData">
			@Html.EditorFor(m => m.ForwardExpensesFlatRate)
			@Html.ValidationMessageFor(m => m.ForwardExpensesFlatRate)
		</td>
	</tr>
	<tr class="elmar-xml-shopfile">
		<td colspan="2">
			<div class="admin-config-group">
				<div class="title">
					@Model.ConfigGroups.SafeGet(0)
					<span class="sub-title">(@(T("Plugins.Feed.ElmarShopinfo.UpdateInfo")))</span>
				</div>
			</div>
		</td>
	</tr>
	<tr class="elmar-xml-shopfile">
		<td class="adminTitle">
			@Html.SmartLabelFor(m => m.UpdateDay)
		</td>
		<td class="adminData">
			@Html.DropDownListFor(m => m.UpdateDay, Model.DayList)
			@Html.ValidationMessageFor(m => m.UpdateDay)
		</td>
	</tr>
	<tr class="elmar-xml-shopfile">
		<td class="adminTitle">
			@Html.SmartLabelFor(m => m.UpdateHourFrom)
		</td>
		<td class="adminData">
			@Html.DropDownListFor(m => m.UpdateHourFrom, Model.HourListFrom, unspecified)
			@Html.ValidationMessageFor(m => m.UpdateHourFrom)
		</td>
	</tr>
	<tr class="elmar-xml-shopfile">
		<td class="adminTitle">
			@Html.SmartLabelFor(m => m.UpdateHourTo)
		</td>
		<td class="adminData">
			@Html.DropDownListFor(m => m.UpdateHourTo, Model.HourListTo, unspecified)
			@Html.ValidationMessageFor(m => m.UpdateHourTo)
		</td>
	</tr>
	<tr class="elmar-xml-shopfile">
		<td colspan="2">
			<div class="admin-config-group">
				<div class="title">
					@Model.ConfigGroups.SafeGet(1)
				</div>
			</div>
		</td>
	</tr>
	<tr class="elmar-xml-shopfile">
		<td class="adminTitle">
			@Html.SmartLabelFor(m => m.BranchOffice)
		</td>
		<td class="adminData">
			@Html.EditorFor(m => m.BranchOffice)
			@Html.ValidationMessageFor(m => m.BranchOffice)
		</td>
	</tr>
	<tr class="elmar-xml-shopfile">
		<td class="adminTitle">
			@Html.SmartLabelFor(m => m.AddressName)
		</td>
		<td class="adminData">
			@Html.EditorFor(m => m.AddressName)
			@Html.ValidationMessageFor(m => m.AddressName)
		</td>
	</tr>
	<tr class="elmar-xml-shopfile">
		<td class="adminTitle">
			@Html.SmartLabelFor(m => m.AddressStreet)
		</td>
		<td class="adminData">
			@Html.EditorFor(m => m.AddressStreet)
			@Html.ValidationMessageFor(m => m.AddressStreet)
		</td>
	</tr>
	<tr class="elmar-xml-shopfile">
		<td class="adminTitle">
			@Html.SmartLabelFor(m => m.AddressPostalCode)
		</td>
		<td class="adminData">
			@Html.EditorFor(m => m.AddressPostalCode)
			@Html.ValidationMessageFor(m => m.AddressPostalCode)
		</td>
	</tr>
	<tr class="elmar-xml-shopfile">
		<td class="adminTitle">
			@Html.SmartLabelFor(m => m.AddressCity)
		</td>
		<td class="adminData">
			@Html.EditorFor(m => m.AddressCity)
			@Html.ValidationMessageFor(m => m.AddressCity)
		</td>
	</tr>
	<tr class="elmar-xml-shopfile">
		<td colspan="2">
			<div class="admin-config-group">
				<div class="title">
					@Model.ConfigGroups.SafeGet(2)
				</div>
			</div>
		</td>
	</tr>
	<tr class="elmar-xml-shopfile">
		<td class="adminTitle">
			@Html.SmartLabelFor(m => m.PublicMail)
		</td>
		<td class="adminData">
			@Html.EditorFor(m => m.PublicMail)
			@Html.ValidationMessageFor(m => m.PublicMail)
		</td>
	</tr>
	<tr class="elmar-xml-shopfile">
		<td class="adminTitle">
			@Html.SmartLabelFor(m => m.PrivateMail)
		</td>
		<td class="adminData">
			@Html.EditorFor(m => m.PrivateMail)
			@Html.ValidationMessageFor(m => m.PrivateMail)
		</td>
	</tr>
	<tr class="elmar-xml-shopfile">
		<td class="adminTitle">
			@Html.SmartLabelFor(m => m.OrderPhone)
		</td>
		<td class="adminData">
			@Html.EditorFor(m => m.OrderPhone)
			@Html.ValidationMessageFor(m => m.OrderPhone)
		</td>
	</tr>
	<tr class="elmar-xml-shopfile">
		<td class="adminTitle">
			@Html.SmartLabelFor(m => m.OrderFax)
		</td>
		<td class="adminData">
			@Html.EditorFor(m => m.OrderFax)
			@Html.ValidationMessageFor(m => m.OrderFax)
		</td>
	</tr>
	<tr class="elmar-xml-shopfile">
		<td class="adminTitle">
			@Html.SmartLabelFor(m => m.Hotline)
		</td>
		<td class="adminData">
			@Html.EditorFor(m => m.Hotline)
			@Html.ValidationMessageFor(m => m.Hotline)
		</td>
	</tr>
	<tr class="elmar-xml-shopfile">
		<td class="adminTitle">
			@Html.SmartLabelFor(m => m.ExportHotlineCost)
		</td>
		<td class="adminData">
			@Html.EditorFor(m => m.ExportHotlineCost)
			@Html.ValidationMessageFor(m => m.ExportHotlineCost)
		</td>
	</tr>
	<tr id="HotlineCostPerMinuteContainer" class="elmar-xml-shopfile">
		<td class="adminTitle">
			@Html.SmartLabelFor(m => m.HotlineCostPerMinute)
		</td>
		<td class="adminData">
			@Html.EditorFor(m => m.HotlineCostPerMinute)
			@Html.ValidationMessageFor(m => m.HotlineCostPerMinute)
		</td>
	</tr>
</table>

<script type="text/javascript">
	$(document).ready(function () {

		$('#@Html.FieldIdFor(m => m.CreateXmlShopFile)').on('change', function () {
			$('#ElmarShopInfoTable').find('.elmar-xml-shopfile').toggle($(this).is(':checked'));
		}).trigger('change');

		$('#@Html.FieldIdFor(m => m.ExportHotlineCost)').on('change', function () {
			$('#HotlineCostPerMinuteContainer').toggle($(this).is(':checked'));
		}).trigger('change');
    });
</script>
