@using SmartStore.ShopConnector;
@using SmartStore.ShopConnector.Models;
@using SmartStore.ShopConnector.Core;
@using SmartStore.Web.Framework;
@model ConfigurationModel
@{
	Layout = "";

	Html.AddCssFileParts(true, "~/css/fileupload", Url.Content("~/Plugins/SmartStore.ShopConnector/Content/smartstore.shopconnector.css"));
	
	Html.AddScriptParts(true,
		"~/bundles/fileupload",
		Url.Content("~/Plugins/SmartStore.ShopConnector/Scripts/smartstore.shopconnector.js"));
}

@Html.ValidationSummary(false)

@if (Model.DemoModeHint.HasValue())
{
	<div class="alert alert-warning">
		<button class="close" data-dismiss="alert">×</button>
		@Html.Raw(Model.DemoModeHint)
	</div>
}

@(Html.SmartStore().TabStrip().Name("shop-connector-tabs").Items(x =>
{
	x.Add()
		.Text(T("Common.General").Text)
		.Icon("fa fa-check-square-o")
		.Content(TabGeneral())
		.Selected(string.IsNullOrEmpty(Model.SelectedTab));

	x.Add()
		.Text(T("Common.Import").Text)
		.Icon("fa fa-download")
		.Content(Html.Partial("ConfigureImport", Model).ToHtmlString())
		.Selected(Model.SelectedTab == "Import");

	x.Add()
		.Text(T("Common.Export").Text)
		.Icon("fa fa-upload")
		.Content(Html.Partial("ConfigureExport", Model).ToHtmlString())
		.Selected(Model.SelectedTab == "Export");
}))

@helper TabGeneral()
{
	<div>
		<form method="POST" action="@Url.Action("ConfigurePlugin", "Plugin", new { area = "Admin", systemName = ShopConnectorCore.SystemName })" novalidate="novalidate">
			<table class="adminContent">
				<tr>
					<td class="adminTitle">
						@Html.SmartLabelFor(model => model.IsImportEnabled)
					</td>
					<td class="adminData">
						@Html.EditorFor(model => model.IsImportEnabled)
						@Html.ValidationMessageFor(model => model.IsImportEnabled)
					</td>
				</tr>
				<tr>
					<td class="adminTitle">
						@Html.SmartLabelFor(model => model.IsExportEnabled)
					</td>
					<td class="adminData">
						@Html.EditorFor(model => model.IsExportEnabled)
						@Html.ValidationMessageFor(model => model.IsExportEnabled)
					</td>
				</tr>
				<tr>
					<td class="adminTitle">
						@Html.SmartLabelFor(model => model.LogUnauthorized)
					</td>
					<td class="adminData">
						@Html.EditorFor(model => model.LogUnauthorized)
						@Html.ValidationMessageFor(model => model.LogUnauthorized)
					</td>
				</tr>
				<tr>
					<td class="adminTitle">
						@Html.SmartLabelFor(model => model.ValidMinutePeriod)
					</td>
					<td class="adminData">
						@Html.EditorFor(model => model.ValidMinutePeriod)
						@Html.ValidationMessageFor(model => model.ValidMinutePeriod)
					</td>
				</tr>
				<tr>
					<td class="adminTitle">
						@Html.SmartLabelFor(model => model.ImageDownloadTimeout)
					</td>
					<td class="adminData">
						@Html.EditorFor(model => model.ImageDownloadTimeout)
						@Html.ValidationMessageFor(model => model.ImageDownloadTimeout)
					</td>
				</tr>
				<tr>
					<td class="adminTitle">&nbsp;</td>
					<td class="adminData">
						<button type="submit" name="save" value="save" class="btn btn-primary">
							<i class="fa fa-check"></i>&nbsp;@T("Admin.Common.Save")
						</button>
					</td>
				</tr>
				<tr class="adminSeparator">
					<td colspan="2">
						<div class="admin-config-group">
							<div class="title">@T("Plugins.SmartStore.ShopConnector.UploadXmlFile")</div>
						</div>
					</td>
				</tr>
				<tr>
					<td class="adminTitle">&nbsp;</td>
					<td class="adminData">
						<div id="XmlFileUploader" class="fileupload" data-url="@Url.Action("XmlFileUpload", "ShopConnector")">
							<span class="btn fileinput-button">
								<i class="fa fa-upload"></i>
								<span>@T("Common.FileUploader.Upload")</span>
								<input id="XmlFileUploaderFile" type="file" name="file" />
							</span>

							<button class="btn btn-warning cancel">
								<i class="fa fa-times"></i>
								<span>@T("Common.Fileuploader.Cancel")</span>
							</button>

							<div class="span5 fileupload-progress fade">
								<div class="progress progress-success progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
									<div class="bar" style="width:0%;"></div>
								</div>
								<div class="progress-extended">&nbsp;</div>
							</div>
						</div>
					</td>
				</tr>
			</table>
		</form>
	</div>
}

<div id="connection-dialog" class="modal modal-xlarge hide fade" tabindex="-1" 
	 data-urlupsert="@Url.Action("ConnectionUpsert", "ShopConnector", new { area = ShopConnectorCore.SystemName })"
	 data-urldelete="@Url.Action("ConnectionDelete", "ShopConnector", new { area = ShopConnectorCore.SystemName })">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal"><b>&#215;</b></button>
		<h4 class="caption"></h4>
	</div>
	<div class="modal-body"></div>
	<div class="modal-ask-delete hide">@T("Admin.Common.DeleteConfirmation")</div>
	<div class="modal-footer">
		<button class="btn btn-primary">
			<span id="ConnectionOk">@T("Common.OK")</span>
			<span id="ConnectionNext" style="display: none;">@T("Common.Next")</span>
		</button>
		<button class="btn" data-dismiss="modal">@T("Common.Cancel")</button>
	</div>
</div>

<script type="text/javascript">
	jQuery(document).ready(function () {
		shopConnector.init();
	});
</script>
