@model SmartStore.AccardaKar.Models.PaymentInfoModel
@using SmartStore.Web.Framework;
@using SmartStore.AccardaKar.Services;

@{
    Layout = "";
}

<div id="AccardaControls">
	@if (Model.EnableBusinessCustomer)
	{
		<div data-role="fieldcontain">
            <fieldset data-role="controlgroup" data-type="horizontal" data-mini="true">
                <input type="radio" name="CustomerType" id="CustomerType_1" value="@((int)AccardaKarCustomerType.B2C)" checked="@(Model.CustomerType == AccardaKarCustomerType.B2C)" />
                <label for="CustomerType_1">@T("Plugins.SmartStore.AccardaKar.CustomerType.Private")</label>

                <input type="radio" name="CustomerType" id="CustomerType_2" value="@((int)AccardaKarCustomerType.B2B)" checked="@(Model.CustomerType == AccardaKarCustomerType.B2B)" />
                <label for="CustomerType_2">@T("Plugins.SmartStore.AccardaKar.CustomerType.Business")</label>
            </fieldset>
		</div>
	}

	<div class="accarda-b2c">
        @Html.LabelFor(model => model.Salutation)
        <div data-role="fieldcontain">
            <fieldset data-role="controlgroup" data-type="horizontal" data-mini="true">
                <input type="radio" name="Salutation" id="Salutation_1" value="@((int)AccardaKarSalutationType.Mr)" checked="@(Model.Salutation == AccardaKarSalutationType.Mr)" />
                <label for="Salutation_1">@T("Admin.Address.Salutation.Mr")</label>

                <input type="radio" name="Salutation" id="Salutation_2" value="@((int)AccardaKarSalutationType.Mrs)" checked="@(Model.Salutation == AccardaKarSalutationType.Mrs)" />
                <label for="Salutation_2">@T("Admin.Address.Salutation.Mrs")</label>
            </fieldset>
        </div>
	</div>
	<div class="accarda-b2c">
		@Html.SmartLabelFor(model => model.DateOfBirthYear, false)
		<div data-role="fieldcontain">
			<fieldset data-role="controlgroup" data-type="horizontal" data-mini="true">
				@Html.DatePickerDropDowns(Html.FieldNameFor(x => x.DateOfBirthDay),
				Html.FieldNameFor(x => x.DateOfBirthMonth),
				Html.FieldNameFor(x => x.DateOfBirthYear),
				DateTime.Now.Year - 90,
				DateTime.Now.Year,
				Model.DateOfBirthDay,
				Model.DateOfBirthMonth,
				Model.DateOfBirthYear)
			</fieldset>
		</div>
	</div>

	@if (Model.EnableBusinessCustomer)
	{
		<div class="accarda-b2b">
			@Html.SmartLabelFor(model => model.CompanyName, false)
			@Html.TextBoxFor(model => model.CompanyName, new { autocomplete = "off" })
		</div>
	}

	<div>
		@Html.SmartLabelFor(model => model.Street, false)
		@Html.TextBoxFor(model => model.Street, new { autocomplete = "off" })
	</div>
	<div>
		@Html.SmartLabelFor(model => model.HouseNumber, false)
		@Html.TextBoxFor(model => model.HouseNumber, new { autocomplete = "off" })
	</div>

	<div>
		@Html.SmartLabelFor(model => model.StreetShippingAddress, false)
		@Html.TextBoxFor(model => model.StreetShippingAddress, new { autocomplete = "off" })
	</div>
	<div>
		@Html.SmartLabelFor(model => model.HouseNumberShippingAddress, false)
		@Html.TextBoxFor(model => model.HouseNumberShippingAddress, new { autocomplete = "off" })
	</div>
	
	@if (Model.EnableBusinessCustomer)
	{
		<div class="accarda-b2b hide">
			@Html.SmartLabelFor(model => model.CompanyLegalForm, false)
			@Html.DropDownListFor(model => model.CompanyLegalForm, Model.AvailableLegalForms, new { data_native_menu = "false" })
		</div>
		<div id="CompanyLegalFormOtherContainer" class="accarda-b2b hide">
			@Html.SmartLabelFor(model => model.CompanyLegalFormOther, false)
			@Html.TextBoxFor(model => model.CompanyLegalFormOther, new { autocomplete = "off" })
		</div>
		<div class="accarda-b2b hide">
			@Html.SmartLabelFor(model => model.CompanyUid, false)
			@Html.TextBoxFor(model => model.CompanyUid, new { autocomplete = "off" })
		</div>
		<div class="accarda-b2b hide">
			@Html.SmartLabelFor(model => model.CompanyNumber, false)
			@Html.TextBoxFor(model => model.CompanyNumber, new { autocomplete = "off" })
		</div>
		<div class="accarda-b2b hide">
			@Html.SmartLabelFor(model => model.CompanyFoundationDateYear, false)
			<div data-role="fieldcontain">
				<fieldset data-role="controlgroup" data-type="horizontal" data-mini="true">
					@Html.DatePickerDropDowns(Html.FieldNameFor(x => x.CompanyFoundationDateDay),
						Html.FieldNameFor(x => x.CompanyFoundationDateMonth),
						Html.FieldNameFor(x => x.CompanyFoundationDateYear),
						DateTime.Now.Year - 160,
						DateTime.Now.Year,
						Model.CompanyFoundationDateDay,
						Model.CompanyFoundationDateMonth,
						Model.CompanyFoundationDateYear)
				</fieldset>
			</div>
		</div>
	}

	@if (Model.EnablePhysicalInvoice)
	{
		<div>
			@Html.SmartLabelFor(model => model.PhysicalInvoice, false)
			@Html.EditorFor(model => model.PhysicalInvoice)
		</div>
		if (Model.PhysicalInvoiceInfo.HasValue())
		{
			<div id="PhysicalInvoiceInfo" class="hide">
				<div class="alert alert-info">@Model.PhysicalInvoiceInfo</div>
			</div>
		}
	}	
</div>

<script type="text/javascript">
	$(document).ready(function () {
		$('input[name=CustomerType]').change(function () {
			var value = $(this).filter(':checked').val(),
				elements = $('#AccardaControls');

			elements.find('.accarda-' + (value === '@((int)AccardaKarCustomerType.B2B)' ? 'b2b' : 'b2c')).slideDown('fast');
			elements.find('.accarda-' + (value === '@((int)AccardaKarCustomerType.B2B)' ? 'b2c' : 'b2b')).slideUp('fast');

			$('#CompanyLegalForm').trigger('change');
		}).trigger('change');

		$('select[name=CompanyLegalForm]').change(function () {
			var value = $(this).find('option:selected').val(),
				isB2b = $('input[name=CustomerType]').filter(':checked').val() === '@((int)AccardaKarCustomerType.B2B)';

			$('#CompanyLegalFormOtherContainer').toggle(value === 'other' && isB2b);

			if (value === 'other' && isB2b)
				$('input[name=CompanyLegalFormOther]').focus();
		}).trigger('change');

		$('input[name=PhysicalInvoice]').change(function () {
			$('#PhysicalInvoiceInfo').toggle($(this).is(':checked'));
		}).trigger('change');

		$(document).on('click', '.select-button > div', function () {
			$(this).parent().append('<div>@T("Plugins.SmartStore.AccardaKar.HoldOnCheckingData")</div>');
			$(this).hide();
		});
	});
</script>