@using SmartStore.ShopConnector;
@using SmartStore.ShopConnector.Models;
@using SmartStore.ShopConnector.Core;
@using SmartStore.Web.Framework;
@model AboutModel
@{
	Layout = "";

	Html.AddCssFileParts(true, Url.Content("~/Plugins/SmartStore.ShopConnector/Content/smartstore.shopconnector.css"));
}

@if (Model.StoreLogoUrl.HasValue())
{
	<div>
		<img src="@Model.StoreLogoUrl" alt="@Model.StoreName" class="about-store-logo" />
	</div>
}

<div>
	<table class="adminContent">
		<tr>
			<td class="adminTitle">
				@Html.SmartLabelFor(model => model.StoreName)
			</td>
			<td class="adminData">
				@Html.DisplayFor(model => model.StoreName)
			</td>
		</tr>
		<tr>
			<td class="adminTitle">
				@Html.SmartLabelFor(model => model.CompanyName)
			</td>
			<td class="adminData">
				@Html.DisplayFor(model => model.CompanyName)
			</td>
		</tr>
		<tr>
			<td class="adminTitle">
				@Html.SmartLabelFor(model => model.StoreUrl)
			</td>
			<td class="adminData">
				@Html.DisplayFor(model => model.StoreUrl)
			</td>
		</tr>
		<tr>
			<td class="adminTitle">
				@Html.SmartLabelFor(model => model.UtcTime)
			</td>
			<td class="adminData">
				@Model.UtcTime.ToString("F")
			</td>
		</tr>
		<tr>
			<td class="adminTitle">
				@Html.SmartLabelFor(model => model.StoreCount)
			</td>
			<td class="adminData">
				@Html.DisplayFor(model => model.StoreCount)
			</td>
		</tr>
		<tr class="adminSeparator">
			<td colspan="2">&nbsp;</td>
		</tr>
		<tr>
			<td class="adminTitle">
				@Html.SmartLabelFor(model => model.AppVersion)
			</td>
			<td class="adminData">
				@Html.DisplayFor(model => model.AppVersion)
			</td>
		</tr>
		<tr>
			<td class="adminTitle">
				@Html.SmartLabelFor(model => model.ConnectorVersion)
			</td>
			<td class="adminData">
				@Html.DisplayFor(model => model.ConnectorVersion)
			</td>
		</tr>
		<tr>
			<td class="adminTitle">
				@Html.SmartLabelFor(model => model.UpdatedProductsCount)
			</td>
			<td class="adminData">
				@Html.DisplayFor(model => model.UpdatedProductsCount)
			</td>
		</tr>
	</table>
</div>
