@{
    Layout = "";
    Html.AddCssFileParts(true, "~/Plugins/SmartStore.TrustedShops/Content/trustedshops.css");
}
@model SmartStore.TrustedShops.Models.TsSealConfigurationModel
@using SmartStore.Web.Framework;

<div class="ts-info">
    <img src="@Url.Content(T("Plugins.SmartStore.TrustedShops.Image.Logo"))" class="pull-right" />
    <div class="intro">
        @Html.Raw(T("Plugins.SmartStore.TrustedShops.Introduction.Headline"))
    </div>
    <div class="clearfix">
        <div class="pull-left">
            <img src="@Url.Content(T("Plugins.SmartStore.TrustedShops.Image.Seal"))" />
            <div class="prepared">
                <span>@Html.Raw(T("Plugins.SmartStore.TrustedShops.Prepared"))</span>
            </div>
        </div>
        @Html.Raw(T("Plugins.SmartStore.TrustedShops.Introduction.Body"))
    </div>
</div>

<div class="alert alert-info">
    @Html.Raw(T("Plugins.Widgets.TrustedShopsSeal.AdminInstruction"))
</div>

@Html.Action("StoreScopeConfiguration", "Setting", new { area = "Admin" })
	
@Html.ValidationSummary(false)

@using (Html.BeginForm())
{    
    <script type="text/javascript">
        $(document).ready(function () {

            $("#@Html.FieldIdFor(model => model.DisplayTrustBadge)").click(toggleSealSettings);

            toggleSealSettings();
        });

        function toggleSealSettings() {
            if ($('#@Html.FieldIdFor(model => model.DisplayTrustBadge)').is(':checked')) {
                $('#pnlOffset').show();
                $('#pnlVariant').show();
                $('#pnlWidgetZone').hide();
                $('#pnlShopName').hide();
                $('#pnlShopText').hide();
            }
            else {
                $('#pnlOffset').hide();
                $('#pnlVariant').hide();
                $('#pnlWidgetZone').show();
                $('#pnlShopName').show();
                $('#pnlShopText').show();
            }
        }

    </script>
    
<table class="adminContent">
    <tr>
        <td class="adminTitle">
            @Html.SmartLabelFor(model => model.TrustedShopsId)
        </td>
        <td class="adminData">
            @Html.SettingEditorFor(model => model.TrustedShopsId)
            @Html.ValidationMessageFor(model => model.TrustedShopsId)
        </td>
    </tr>
    <tr>
        <td class="adminTitle">
            @Html.SmartLabelFor(model => model.IsTestMode)
        </td>
        <td class="adminData">
            @Html.SettingEditorFor(model => model.IsTestMode)
            @Html.ValidationMessageFor(model => model.IsTestMode)
        </td>
    </tr>
    <tr>
        <td class="adminTitle">
            @Html.SmartLabelFor(model => model.DisplayTrustBadge)
        </td>
        <td class="adminData">
            @Html.SettingEditorFor(model => model.DisplayTrustBadge)
            @Html.ValidationMessageFor(model => model.DisplayTrustBadge)
        </td>
    </tr>
    <tr id="pnlOffset">
        <td class="adminTitle">
            @Html.SmartLabelFor(model => model.Offset)
        </td>
        <td class="adminData">
            @Html.SettingEditorFor(model => model.Offset)
            @Html.ValidationMessageFor(model => model.Offset)
        </td>
    </tr>
    <tr id="pnlVariant">
        <td class="adminTitle">
            @Html.SmartLabelFor(model => model.Variant)
        </td>
        <td class="adminData">
            @Html.SettingOverrideCheckbox(model => model.Variant)
            @Html.DropDownListFor(model => model.Variant, Model.AvailableVariants)
        </td>
    </tr>
    <tr id="pnlWidgetZone">
        <td class="adminTitle">
            @Html.SmartLabelFor(model => model.WidgetZone)
        </td>
        <td class="adminData">
            @Html.SettingOverrideCheckbox(model => model.WidgetZone)
            @Html.DropDownListFor(model => model.WidgetZone, Model.AvailableZones)
            @Html.ValidationMessageFor(model => model.WidgetZone)
        </td>
    </tr>
    <tr id="pnlShopName">
        <td class="adminTitle">
            @Html.SmartLabelFor(model => model.ShopName)
        </td>
        <td class="adminData">
            @Html.SettingEditorFor(model => model.ShopName)
            @Html.ValidationMessageFor(model => model.ShopName)
        </td>
    </tr>
    <tr id="pnlShopText">
        <td class="adminTitle">
            @Html.SmartLabelFor(model => model.ShopText)
        </td>
        <td class="adminData">
            @Html.SettingEditorFor(model => model.ShopText)
            @Html.ValidationMessageFor(model => model.ShopText)
        </td>
    </tr>
    <tr>
		<td class="adminTitle">
			&nbsp;
		</td>
		<td class="adminData">
            <button type="submit" name="save" value="save" class="btn btn-primary">
				<i class="fa fa-check"></i>&nbsp;@T("Admin.Common.Save")
            </button>
        </td>
    </tr>
</table>
}