@using SmartStore.BeezUp.Models;
@model ProfileConfigurationModel
@{
    Layout = null;
}

<table class="adminContent">
	<tr>
		<td class="adminTitle">
			@Html.SmartLabelFor(m => m.State)
		</td>
		<td class="adminData">
			@Html.DropDownListFor(m => m.State, Model.AvailableStates)
			@Html.ValidationMessageFor(m => m.State)
		</td>
	</tr>
	<tr>
		<td class="adminTitle">
			@Html.SmartLabelFor(m => m.Stock)
		</td>
		<td class="adminData">
			@Html.DropDownListFor(m => m.Stock, Model.AvailableStocks)
			@Html.ValidationMessageFor(m => m.Stock)
		</td>
	</tr>
	<tr>
		<td class="adminTitle">
			@Html.SmartLabelFor(m => m.DeliveryTime)
		</td>
		<td class="adminData">
			@Html.EditorFor(m => m.DeliveryTime)
			@Html.ValidationMessageFor(m => m.DeliveryTime)
		</td>
	</tr>
	<tr>
		<td class="adminTitle">
			@Html.SmartLabelFor(m => m.Guarantee)
		</td>
		<td class="adminData">
			@Html.EditorFor(m => m.Guarantee)
			@Html.ValidationMessageFor(m => m.Guarantee)
		</td>
	</tr>
	<tr>
		<td class="adminTitle">
			@Html.SmartLabelFor(m => m.GuaranteeDetails)
		</td>
		<td class="adminData">
			@Html.EditorFor(m => m.GuaranteeDetails)
			@Html.ValidationMessageFor(m => m.GuaranteeDetails)
		</td>
	</tr>
	<tr>
		<td class="adminTitle">
			@Html.SmartLabelFor(m => m.Gender)
		</td>
		<td class="adminData">
			@Html.DropDownListFor(m => m.Gender, Model.AvailableGenders)
			@Html.ValidationMessageFor(m => m.Gender)
		</td>
	</tr>
	<tr>
		<td class="adminTitle">
			@Html.SmartLabelFor(m => m.Color)
		</td>
		<td class="adminData">
			@Html.EditorFor(m => m.Color)
			@Html.ValidationMessageFor(m => m.Color)
		</td>
	</tr>
	<tr>
		<td class="adminTitle">
			@Html.SmartLabelFor(m => m.Size)
		</td>
		<td class="adminData">
			@Html.EditorFor(m => m.Size)
			@Html.ValidationMessageFor(m => m.Size)
		</td>
	</tr>
	<tr>
		<td class="adminTitle">
			@Html.SmartLabelFor(m => m.Material)
		</td>
		<td class="adminData">
			@Html.EditorFor(m => m.Material)
			@Html.ValidationMessageFor(m => m.Material)
		</td>
	</tr>
	<tr>
		<td class="adminTitle">
			@Html.SmartLabelFor(m => m.AgeRange)
		</td>
		<td class="adminData">
			@Html.EditorFor(m => m.AgeRange)
			@Html.ValidationMessageFor(m => m.AgeRange)
		</td>
	</tr>
</table>