@model dynamic
@using SmartStore.Web.Framework;
@using SmartStore.SearchLog.Models;
@using Telerik.Web.Mvc;
@using Telerik.Web.Mvc.UI;
@{
    Layout = "_AdminLayout";
	ViewBag.Title = T("Plugins.SearchLog.Title");
	
	var searchUrl = Url.RouteUrl("ProductSearch");
	bool groupByTerm = ViewBag.GroupByTerm == true;
	var storeId = (int)ViewBag.StoreId;
	var langId = (int)ViewBag.LangId;

	var allStores = ViewBag.AllStores as IEnumerable<SelectListItem>;
	var allLanguages = ViewBag.AllLanguages as IEnumerable<SelectListItem>;
}

<div class="section-header">
	<div class="title">
		<i class="fa fa-search"></i>
		Search Log
	</div>
</div>

@using (Html.BeginForm(null, null, FormMethod.Get))
{
	<table class="adminContent">
		<tr>
			<td class="adminTitle">@Html.SmartLabel("storeId", T("Admin.Common.Store"))</td>
			<td class="adminData">@Html.DropDownList("storeId", allStores, T("Admin.Common.All"))</td>
		</tr>
		<tr>
			<td class="adminTitle">@Html.SmartLabel("langId", T("Admin.Configuration.Languages.Resources.Fields.LanguageName"))</td>
			<td class="adminData">@Html.DropDownList("langId", allLanguages, T("Admin.Common.All"))</td>
		</tr>
		<tr>
			<td class="adminTitle">@Html.SmartLabel("groupByTerm", T("Plugins.SearchLog.GroupByTerm"))</td>
			<td class="adminData">@Html.CheckBox("groupByTerm", groupByTerm)</td>
		</tr>
		<tr>
			<td class="adminTitle">&nbsp;</td>
			<td class="adminData"><button type="submit" class="btn btn-default">@T("Admin.Common.Update")</button></td>
		</tr>
	</table>
}


@(Html.Telerik().Grid<SearchTermModel>()
	.Name("searchterms-grid")
	.Columns(c =>
	{
		c.Bound(x => x.Count)
			.Title(T("Common.Count"))
			.Filterable(false)
			.Width(50);
		c.Bound(x => x.Term)
			.Title(T("Search.SearchTerm"))
			.ClientTemplate("<a href='" + searchUrl + "?q=<#= encodeURI(Term) #>' target='SearchWin'><#= Term #></a>");
		c.Bound(x => x.StoreId)
			.Title(T("Admin.Common.Store"))
			.Filterable(false)
			.Sortable(!groupByTerm)
			.ClientTemplate("<#= Store #>");
		c.Bound(x => x.LanguageId)
			.Title(T("Admin.Configuration.Languages.Resources.Fields.LanguageName"))
			.Filterable(false)
			.Sortable(!groupByTerm)
			.ClientTemplate("<#= Language #>");
		c.Bound(x => x.LastSearchedUtc)
			.Title(T("Plugins.SearchLog.LastSearchedDate"))
			.Filterable(false)
			.Groupable(false)
			.Width(150);
	})
	.DataBinding(x => x.Ajax().Select("TermsList", "SearchLog", new { 
		groupByTerm = groupByTerm, 
		storeId = storeId, 
		langId = langId
	}))
	.Pageable(x => x.PageSize(100).Position(GridPagerPosition.Both))
	.Sortable(x =>
	{
		x.AllowUnsort(true);
		x.OrderBy(y => y.Add("Count").Descending());
		x.SortMode(GridSortMode.MultipleColumn);
	})
	.Filterable()
	.EnableCustomBinding(true)
)
