@using SmartStore.Shopwahl.Models;
@model ProfileConfigurationModel
@{
    Layout = null;
}

<table class="adminContent">
	<tr>
		<td class="adminTitle">
			@Html.SmartLabelFor(m => m.Availability)
		</td>
		<td class="adminData">
			@Html.EditorFor(m => m.Availability)
			@Html.ValidationMessageFor(m => m.Availability)
		</td>
	</tr>
	<tr>
		<td class="adminTitle">
			@Html.SmartLabelFor(m => m.Warranty)
		</td>
		<td class="adminData">
			@Html.EditorFor(m => m.Warranty)
			@Html.ValidationMessageFor(m => m.Warranty)
		</td>
	</tr>
	<tr>
		<td class="adminTitle">
			@Html.SmartLabelFor(m => m.Condition)
		</td>
		<td class="adminData">
			@Html.EditorFor(m => m.Condition)
			@Html.ValidationMessageFor(m => m.Condition)
		</td>
	</tr>
</table>