@using SmartStore.Guenstiger.Models;
@model ProfileConfigurationModel
@{
    Layout = null;
	string unspecified = T("Common.Unspecified");
}

<table class="adminContent">
	<tr>
		<td class="adminTitle">
			@Html.SmartLabelFor(m => m.ShippingMethod0)
		</td>
		<td class="adminData">
			<div class="pull-left">
				@Html.DropDownListFor(m => m.ShippingMethod0, Model.AvailableShippingMethods0, unspecified)
				@Html.ValidationMessageFor(m => m.ShippingMethod0)
			</div>
			<div class="pull-left">&nbsp;&nbsp;</div>
			<div class="pull-left">
				@Html.EditorFor(m => m.ShippingCost0)
				@Html.ValidationMessageFor(m => m.ShippingCost0)
			</div>
		</td>
	</tr>
	<tr>
		<td class="adminTitle">&nbsp;</td>
		<td class="adminData">
			<div class="pull-left">
				@Html.DropDownListFor(m => m.ShippingMethod1, Model.AvailableShippingMethods1, unspecified)
				@Html.ValidationMessageFor(m => m.ShippingMethod1)
			</div>
			<div class="pull-left">&nbsp;&nbsp;</div>
			<div class="pull-left">
				@Html.EditorFor(m => m.ShippingCost1)
				@Html.ValidationMessageFor(m => m.ShippingCost1)
			</div>
		</td>
	</tr>
	<tr>
		<td class="adminTitle">&nbsp;</td>
		<td class="adminData">
			<div class="pull-left">
				@Html.DropDownListFor(m => m.ShippingMethod2, Model.AvailableShippingMethods2, unspecified)
				@Html.ValidationMessageFor(m => m.ShippingMethod2)
			</div>
			<div class="pull-left">&nbsp;&nbsp;</div>
			<div class="pull-left">
				@Html.EditorFor(m => m.ShippingCost2)
				@Html.ValidationMessageFor(m => m.ShippingCost2)
			</div>
		</td>
	</tr>
	<tr>
		<td class="adminTitle">&nbsp;</td>
		<td class="adminData">
			<div class="pull-left">
				@Html.DropDownListFor(m => m.ShippingMethod3, Model.AvailableShippingMethods3, unspecified)
				@Html.ValidationMessageFor(m => m.ShippingMethod3)
			</div>
			<div class="pull-left">&nbsp;&nbsp;</div>
			<div class="pull-left">
				@Html.EditorFor(m => m.ShippingCost3)
				@Html.ValidationMessageFor(m => m.ShippingCost3)
			</div>
		</td>
	</tr>
	<tr>
		<td class="adminTitle">&nbsp;</td>
		<td class="adminData">
			<div class="pull-left">
				@Html.DropDownListFor(m => m.ShippingMethod4, Model.AvailableShippingMethods4, unspecified)
				@Html.ValidationMessageFor(m => m.ShippingMethod4)
			</div>
			<div class="pull-left">&nbsp;&nbsp;</div>
			<div class="pull-left">
				@Html.EditorFor(m => m.ShippingCost4)
				@Html.ValidationMessageFor(m => m.ShippingCost4)
			</div>
		</td>
	</tr>
	<tr>
		<td class="adminTitle">&nbsp;</td>
		<td class="adminData">
			<div class="pull-left">
				@Html.DropDownListFor(m => m.ShippingMethod5, Model.AvailableShippingMethods5, unspecified)
				@Html.ValidationMessageFor(m => m.ShippingMethod5)
			</div>
			<div class="pull-left">&nbsp;&nbsp;</div>
			<div class="pull-left">
				@Html.EditorFor(m => m.ShippingCost5)
				@Html.ValidationMessageFor(m => m.ShippingCost5)
			</div>
		</td>
	</tr>
</table>