@using SmartStore.Web.Framework.UI;
@using SmartStore.Utilities;

@{
	Layout = null;

    Html.AddCssFileParts(true, "~/css/fileupload");

	Html.AddScriptParts(true,
		"~/bundles/fileupload",
        "~/Plugins/SmartStore.BMEcat/Scripts/smartstore.bmecat.import.js");
}
	
<div class="bme-container" data-url="@(Url.Content("~/Plugins/SmartStore.BMEcat"))" data-wait="@T("Plugins.Import.Biz.WaitLong")">
    
    <div id="ImportFileUploader" class="fileupload">

        <span class="btn btn-primary fileinput-button">
            <i class="fa fa-upload"></i>
            <span>@T("Common.FileUploader.Upload")</span>
            <input id="ImportFileUpload" type="file" name="importfile" />
        </span>

        <button class="btn btn-warning cancel">
            <i class="fa fa-times"></i>
            <span>@T("Common.Fileuploader.Cancel")</span>
        </button>

        <div class="span5 fileupload-progress fade">
            <div class="progress progress-success progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                <div class="bar" style="width:0%;"></div>
            </div>
            <div class="progress-extended">&nbsp;</div>
        </div>
    </div>

</div>
<script type="text/javascript">
    
	jQuery(document).ready(function () {
	    bmecatImport.init('ImportFileUploader');
	});
    
    
    @*jQuery(document).ready(function () {

        // upload import file
        $('#ImportFileUploader').fileupload({
            url: '@Url.Action("FileUpload", "Import", new { id = 3, area = "Admin" })',
            dataType: 'json',
            acceptFileTypes: /(\.|\/)(xml)$/i,
            done: function (e, data) {
                if (data.result.success) {
                    $('#ImportFileListContainer').show();

                    if (!_.isEmpty(data.result.tempFile)) {
                        $('input[name=TempFileName]').val(data.result.tempFile);
                        $('#ImportFileList').html(data.result.tempFile);
                        $('#ImportFileUploadContainer').hide();		// just one initial file to specify the file type
                    }
                    else {
                        location.href = '@Url.Action("Edit", new { id = Model.ImportFileUploadId })';
                    }
                }
            }
        });
    });*@



</script>
