@using SmartStore.BMEcat.Models;
@model ProfileConfigurationModel
@{
    Layout = null;
}

<table id="BmeCatExportConfiguration" class="adminContent">
	<tr>
		<td class="adminTitle">
			@Html.SmartLabelFor(m => m.CatalogId)
		</td>
		<td class="adminData">
			@Html.EditorFor(m => m.CatalogId)
			@Html.ValidationMessageFor(m => m.CatalogId)
		</td>
	</tr>
	<tr>
		<td class="adminTitle">
			@Html.SmartLabelFor(m => m.CatalogVersion)
		</td>
		<td class="adminData">
			@Html.EditorFor(m => m.CatalogVersion)
			@Html.ValidationMessageFor(m => m.CatalogVersion)
		</td>
	</tr>
	<tr>
		<td class="adminTitle">
			@Html.SmartLabelFor(m => m.CatalogName)
		</td>
		<td class="adminData">
			@Html.EditorFor(m => m.CatalogName)
			@Html.ValidationMessageFor(m => m.CatalogName)
		</td>
	</tr>
	<tr>
		<td class="adminTitle">
			@Html.SmartLabelFor(m => m.CatalogType)
		</td>
		<td class="adminData">
			@Html.DropDownListFor(m => m.CatalogType, Model.AvailableCatalogTypes)
			@Html.ValidationMessageFor(m => m.CatalogType)
		</td>
	</tr>
	<tr>
		<td class="adminTitle">
			@Html.SmartLabelFor(m => m.CatalogRootName)
		</td>
		<td class="adminData">
			@Html.EditorFor(m => m.CatalogRootName)
			@Html.ValidationMessageFor(m => m.CatalogRootName)
		</td>
	</tr>
	<tr>
		<td class="adminTitle">
			@Html.SmartLabelFor(m => m.ExportPictures)
		</td>
		<td class="adminData">
			@Html.EditorFor(m => m.ExportPictures)
			@Html.ValidationMessageFor(m => m.ExportPictures)
		</td>
	</tr>
	<tr>
		<td class="adminTitle">
			@Html.SmartLabelFor(m => m.UseSpecificSupplierData)
		</td>
		<td class="adminData">
			@Html.EditorFor(m => m.UseSpecificSupplierData)
			@Html.ValidationMessageFor(m => m.UseSpecificSupplierData)
		</td>
	</tr>
	<tr class="bmecat-supplier-data">
		<td class="adminTitle">
			@Html.SmartLabelFor(m => m.SupplierDataName)
		</td>
		<td class="adminData">
			@Html.EditorFor(m => m.SupplierDataName)
			@Html.ValidationMessageFor(m => m.SupplierDataName)
		</td>
	</tr>
	<tr class="bmecat-supplier-data">
		<td class="adminTitle">
			@Html.SmartLabelFor(m => m.SupplierDataContact)
		</td>
		<td class="adminData">
			@Html.EditorFor(m => m.SupplierDataContact)
			@Html.ValidationMessageFor(m => m.SupplierDataContact)
		</td>
	</tr>
	<tr class="bmecat-supplier-data">
		<td class="adminTitle">
			@Html.SmartLabelFor(m => m.SupplierDataStreet)
		</td>
		<td class="adminData">
			@Html.EditorFor(m => m.SupplierDataStreet)
			@Html.ValidationMessageFor(m => m.SupplierDataStreet)
		</td>
	</tr>
	<tr class="bmecat-supplier-data">
		<td class="adminTitle">
			@Html.SmartLabelFor(m => m.SupplierDataZip)
		</td>
		<td class="adminData">
			@Html.EditorFor(m => m.SupplierDataZip)
			@Html.ValidationMessageFor(m => m.SupplierDataZip)
		</td>
	</tr>
	<tr class="bmecat-supplier-data">
		<td class="adminTitle">
			@Html.SmartLabelFor(m => m.SupplierDataCity)
		</td>
		<td class="adminData">
			@Html.EditorFor(m => m.SupplierDataCity)
			@Html.ValidationMessageFor(m => m.SupplierDataCity)
		</td>
	</tr>
</table>

<script type="text/javascript">
	jQuery(document).ready(function () {

		// show/hide specific supplier data
		$('#@(Html.FieldIdFor(x => x.UseSpecificSupplierData))').change(function () {
			$('#BmeCatExportConfiguration').find('.bmecat-supplier-data').toggle($(this).is(':checked'));
		}).trigger('change');

	});
</script>